[Unit]
Description=PiCluster-Web
Requires=docker.service
After=docker.service

[Service]
Restart=always
RemainAfterExit=no
TimeoutStartSec=0
ExecStart=/bin/bash /root/picluster/systemd/start-web.sh
ExecStop=/bin/bash /root/picluster/systemd/stop-web.sh

[Install]
WantedBy=multi-user.target
