[Unit]
Description=PiCluster-Server
Requires=docker.service
After=docker.service

[Service]
#Restart=always
Environment=picluster_config=/root/picluster/config.json
LimitNOFILE=65536
RemainAfterExit=no
Restart=on-failure
TimeoutStartSec=0
ExecStart=/bin/bash /root/picluster/systemd/start-server.sh
ExecStop=/bin/bash /root/picluster/systemd/stop-server.sh

[Install]
WantedBy=multi-user.target
