[Unit]
Description=PiCluster-Server
Requires=docker.service
After=docker.service

[Service]
#Restart=always
RemainAfterExit=yes
TimeoutStartSec=0
ExecStart=/bin/bash /root/picluster/server/systemd/start-server.sh
ExecStop=/bin/bash /root/picluster/server/systemd/stop-server.sh
Type=oneshot

[Install]
WantedBy=multi-user.target
