[Unit]
Description=PiCluster-Agent
Requires=docker.service
After=docker.service

[Service]
LimitNOFILE=65536
Restart=on-failure
RemainAfterExit=no
TimeoutStartSec=0
ExecStart=/bin/bash /root/picluster/systemd/start-agent.sh
ExecStop=/bin/bash /root/picluster/systemd/stop-agent.sh

[Install]
WantedBy=multi-user.target
