html {
  height: 100%;
}

body {
  display: block;
  color: rgba(255, 255, 255, .9);
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  font-size: 1rem;
  height: auto;
}

button {
  background-color: #565051;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#host {
  font-size: 18px;
}

#container_list {
  font-size: 16px;
}

#container {
  font-size: 16px;
}

#function_list {
  font-size: 18px;
}

#node_list {
  font-size: 18px;
}

#image_list {
  font-size: 18px;
}

#command_entry {
  font-size: 18px;
}

#windowfont {
  font-size: 18px;
}

#modal-body2 {
  font-size: 18px;
}

#terminal .prompt {
  color: #D75F00;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10px;
  left: 0;
  top: 0;
  height: auto;
  width: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  font-size: 12px;
  padding: 0;
  border: 1px solid #888;
  width: 75%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #565051;
  color: white;
}

.modal-body {
  padding: 2px 16px;
  color: black
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

textarea {
  font-size: 18px;
}

.modal-content2 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  font-size: 12px;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  height: auto;
  overflow: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.page {
  margin: 10px;
}

h1 {
  margin: 40px 0 60px 0;
}

label {
  font-size: 18px;
}

legend {
  font-size: 18px;
}

input {
  font-size: 14px;
}

.dark-area {
  background-color: #666;
  padding: 40px;
  margin: 0 -40px 20px -40px;
  clear: both;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.node_card {
  border: 1px solid black;
}
